body {
   background-color: #070724;
   background-image: url('../images/background-stars.svg');
   height: 95vh;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'League Spartan', sans-serif;
   color: #FFFFFF;
}

h2 {
   font-family: 'Antonio', sans-serif;
   color: #FFFFFF;
}

