body {
   background-color: #070724;
   background-image: url('../images/background-stars.svg');
   height: 95vh;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'League Spartan', sans-serif;
   color: #FFFFFF;
}

/* NavBar Styles */

h2 {
   font-family: 'Antonio', sans-serif;
   color: #FFFFFF;
   font-size: 40px;
   line-height: 52px;
   letter-spacing: -1.5;
}

h4 {
   font-family: 'Spartan Bold', sans-serif;
   color:#838391;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: +1;
}

.navbar-brand {
   margin-left: 14px;
}

#navbarNav {
   justify-content: end;
}

.nav-item{
   margin: 12px;
}

/* Main Section */

.btn-primary
{
    background-color:#419ebb;
    border-color: #419ebb;
}

.btn-primary:hover {
   background-color: #38384f;
   border-color: #38384f;
}

.btn {
   border-color: #38384f;
   color: #FFFFFF;
}

.btn:hover {
   border-color: #38384f;
   background-color: #38384f;
}

#mercury {
   margin-top: 200px;
   margin-right: 100px;
}

#mercury-info {
   margin-top: 100px;
   text-align: start;
}

h1 {
   font-family: 'Antonio', sans-serif;
   font-size: 80px;
   line-height: 103px;
}

p {
   font-family: 'Spatan Regular';
   font-size: 18px;
   line-height: 25px;
}

#wiki-links {
   color: #838391;
}

footer {
margin-top: 120px;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
   .infoBoxes {
     font-size: 30px;
   }
 }