body {
    background-color: #070724;
    background-image: url("../images/background-stars.svg");
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "League Spartan", sans-serif;
    color: #ffffff;
}

/* NavBar Styles */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    border-color: none;
    border: none;
}

#nav-bar-line1 a:hover {
    border-top: 4px solid #419ebb;
}

#nav-bar-line2 a:hover {
    border-top: 4px solid #eda249;
}

#nav-bar-line3 a:hover {
    border-top: 4px solid #6f2ed6;
}

#nav-bar-line4 a:hover {
    border-top: 4px solid #d14c32;
}

#nav-bar-line5 a:hover {
    border-top: 4px solid #d83a34;
}

#nav-bar-line6 a:hover {
    border-top: 4px solid #cd5120;
}

#nav-bar-line7 a:hover {
    border-top: 4px solid #1ec2a4;
}

#nav-bar-line8 a:hover {
    border-top: 4px solid #2d68f0;
}

.active {
    border-top: 4px solid #419ebb;
}

.active-venus {
    border-top: 4px solid #eda249;
}

.active-earth {
    border-top: 4px solid #6f2ed6;
}

.active-mars {
    border-top: 4px solid #d14c32;
}

.active-jupiter {
    border-top: 4px solid #d83a34;
}

.active-saturn {
    border-top: 4px solid #cd5120;
}

.active-uranus {
    border-top: 4px solid #1ec2a4;
}

.active-neptune {
    border-top: 4px solid #2d68f0;
}

h2 {
    font-family: "Antonio", sans-serif;
    color: #ffffff;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5;
}

h4 {
    font-family: "Spartan Bold", sans-serif;
    color: #838391;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: +1;
}

.navbar-brand {
    margin-left: 14px;
}

#navbarNav {
    justify-content: end;
}

.nav-item {
    margin: 12px;
}

/* Main Section */

.btn-primary {
    background-color: #419ebb;
    border-color: #419ebb;
}

.btn-primary:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn-venus {
    background-color: #eda249;
    border-color: #eda249;
}

.btn-venus:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn-earth {
    background-color: #6f2ed6;
    border-color: #6f2ed6;
}

.btn-earth:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn-mars {
    background-color: #d14c32;
    border-color: #d14c32;
}

.btn-mars:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn-jupiter {
    background-color: #d83a34;
    border-color: #d83a34;
}

.btn-jupiter:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn-saturn {
    background-color: #cd5120;
    border-color: #cd5120;
}

.btn-saturn:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn-uranus {
    background-color: #1ec2a4;
    border-color: #1ec2a4;
}

.btn-uranus:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn-neptune {
    background-color: #2d68f0;
    border-color: #2d68f0;
}

.btn-neptune:hover {
    background-color: #38384f;
    border-color: #38384f;
}

.btn {
    border-color: #38384f;
    color: #ffffff;
}

.btn:hover {
    border-color: #38384f;
    background-color: #38384f;
}

#mercury {
    margin-top: 160px;
    margin-right: 100px;
}

#venus {
    margin-top: 140px;
    margin-right: 100px;
}

#earth {
    margin-top: 140px;
    margin-right: 100px;
}

#mars {
    margin-top: 140px;
    margin-right: 100px;
}

#mars-geology {
    margin-top: 100px;
    margin-right: 100px;
}

#jupiter {
    margin-top: 20px;
}

#jupiter-geology {
    margin-top: 100px;
    margin-right: 100px;
}

#saturn {
    margin-bottom: 0px;
}

#saturn-geology {
    margin-top: 120px;
    margin-right: 100px;
    margin-bottom: 150px;
}

#uranus {
    margin-top: 100px;
    margin-right: 100px;
}

#neptune {
    margin-top: 100px;
    margin-right: 100px;
}

#info-mercury {
    margin-top: 120px;
    text-align: start;
}

#info-venus {
    margin-top: 120px;
    text-align: start;
}

#info-earth {
    margin-top: 120px;
    text-align: start;
}

#info-mars {
    margin-top: 120px;
    text-align: start;
}

#info-jupiter {
    margin-top: 60px;
    text-align: start;
}

#info-saturn {
    margin-top: 60px;
    text-align: start;
}

#info-uranus {
    margin-top: 100px;
    text-align: start;
}

#info-neptune {
    margin-top: 100px;
    text-align: start;
}

h1 {
    font-family: "Antonio", sans-serif;
    font-size: 80px;
    line-height: 103px;
}

p {
    font-family: "Spatan Regular";
    font-size: 18px;
    line-height: 25px;
}

#wiki-links {
    color: #838391;
}

/* footers */

#footer {
    margin-top: 120px;
}

#footer-mercury-geology {
    padding-bottom: 20px;
}

#footer-venus {
    margin-top: 120px;
}

#footer-jupiter {
    margin-top: 130px;
}

#footer-saturn {
    margin-top: 60px;
}

/* Media Queries */

/* for screens 390px max */

@media (max-width: 390px) {
    #mercury {
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 390px) {
    #info-mercury {
        text-align: center;
        margin-bottom: 0px;
    }
}

@media (max-width: 390px) {
    #venus {
        margin-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #info-venus {
        text-align: center;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #earth {
        margin-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #info-earth {
        text-align: center;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #mars {
        margin-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #info-mars {
        text-align: center;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #jupiter {
        margin-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #jupiter-geology {
        margin-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #info-jupiter {
        text-align: center;
        margin-top: 50px;
    }
}

@media (max-width: 390px) {
    #saturn {
        margin-right: 0px;
        margin-top: 50px;
    }
}

@media (max-width: 390px) {
    #saturn-geology {
        margin-right: 0px;
        margin-top: 50px;
    }
}

@media (max-width: 390px) {
    #info-saturn {
        text-align: center;
        padding-top: 40px;
    }
}

@media (max-width: 390px) {
    #uranus {
        margin-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #info-uranus {
        text-align: center;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #neptune {
        margin-right: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    #info-neptune {
        text-align: center;
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 390px) {
    p {
        font-size: 14px;
    }
}

@media (max-width: 390px) {
    h4 {
        font-size: 16px;
    }
}

@media (max-width: 390px) {
    img {
        max-width: 50%;
        max-height: 50%;
    }
}

@media (max-width: 390px) {
    .d-grid {
        margin-top: 0;
    }
}

@media (max-width: 390px) {
    #footer {
        margin-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 390px) {
    #footer-jupiter {
        margin-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 390px) {
    #footer-saturn {
        margin-top: 40px;
        padding-bottom: 20px;
    }
}

/* for screens 900px */

@media (max-width: 900px) {
    .infoBoxes {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    #mercury {
        margin-top: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    #venus {
        margin-top: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    #earth {
        margin-top: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    #mars {
        margin-top: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    #uranus {
        margin-top: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    #neptune {
        margin-top: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    #saturn {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 900px) {
    #saturn-geology {
        margin-right: 0px;
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    #jupiter-geology {
        margin-right: 0px;
        margin-top: 40px;
    }
}



@media (max-width: 900px) {
    .d-grid {
        margin-top: 80px;
    }
}

@media (max-width: 900px) {
    .btn {
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    #info-mercury {
        margin-top: 120px;
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    #info-venus {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

@media (max-width: 900px) {
    #info-earth {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}


@media (max-width: 900px) {
    #info-saturn {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }
}

@media (max-width: 900px) {
    #info-uranus {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

@media (max-width: 900px) {
    #info-neptune {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

@media (max-width: 900px) {
    #footer {
        margin-top: 60px;
    }
}

@media (max-width: 900px) {
    #footer-jupiter {
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    #footer-saturn {
        margin-top: 10px;
        padding-bottom: 20px;
    }
}